torch==2.1.2+cu118
torchvision==0.16.2+cu118
torchaudio==2.1.2+cu118
transformers==4.40.2
peft==0.10.0
accelerate>=0.27.0
bitsandbytes==0.43.1
gradio==4.36.1
gradio-client==1.0.1
fastapi==0.112.2
pydantic==2.8.2
sentencepiece
numpy<2
huggingface-hub==0.23.0